//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Badge-web

//== Design Properties
//## Helper classes to change the look and feel of the component
========================================================================== */
// Style variations

.widget-badge.label-secondary {
    color: $label-secondary-color;
    background-color: $label-secondary-bg;
}

.widget-badge.label-success {
    color: $label-success-color;
    background-color: $label-success-bg;
}

.widget-badge.label-warning {
    color: $label-warning-color;
    background-color: $label-warning-bg;
}

.widget-badge.label-danger {
    color: $label-danger-color;
    background-color: $label-danger-bg;
}
